@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

.header {
  font-family: 'Hahmlet', serif;
  background-color: #dbf1f6;
}

.review_header {
  background-color: #ffffff;
}

.icon_size {
  width: 55px;
  height: 55px;
  /* margin: 1rem; */
  margin-right: 130px;
}

.icon_size2 {
  width: 80px;
  height: 80px;
  /* margin: 1rem; */
  /* margin-right: 50px; */
}

.icon_size3 {
  width: 120px;
  height: 120px;
  /* margin: 1rem;
  margin-right: 50px; */
}


.image_size1 {
  width: 600px;
  height: 800px;
  /* margin: 1rem;
  margin-right: 50px; */
}





.explanation_header {
  font-family: 'Hahmlet', serif;
  background-color: #dbf1f6;
}

.assign_explanation {
  width: 600px;
  height: auto;
}

.assign_explanation2 {
  width: 600px;
  height: auto;
}

.img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.review_sub_content{
  width:100%;
  padding-top:100px;
  padding-bottom:100px;
  overflow:hidden;}


.review_sub_content .content{
  width:1200px; 
  margin:0 auto;}

.review_sub_content .content.content_box{
  float:none; 
  margin-top:40px;}

.pageTop{
  position:relative; 
  width:100%; 
  height:380px; 
  margin-bottom:50px;}

.pageTop .tit{
  position:relative; 
  top:120px; 
  left:15%; 
  display:inline-block; 
  font-weight:700; 
  z-index:1;}

.pageTop .tit h2{
  position:relative; 
  font-size:40px;  
  transform:translate3d(5%,0,0); 
  opacity:0;}

.pageTop .tit p{
  position:relative;
  font-size:16px; 
  letter-spacing: 3px; 
  transform:translate3d(-5%,0,0); 
  opacity:0;}

.pageTop .rightBar2{
  position:absolute; 
  top:0; 
  right:0; 
  width:calc(60% + 300px); 
  height: 300px; 
  border-top-left-radius: 150px; 
  border-bottom-left-radius: 150px; 
  background-image: linear-gradient(270deg, #7eb2e4, #C1D3E4); 
  overflow:hidden; 
  transform:translate3d(100%,0,0);
  
}
  

.pageTop .rightBar2 img{
  position:absolute; 
  top:33px; 
  left:33px;
  width: 280px;
  height: 280px;
  opacity:0;}

.pageTop .leftBar2{
  position:absolute; 
  top:80px; 
  left:0; 
  width:40%; 
  height: 300px; 
  border-top-right-radius: 150px; 
  border-bottom-right-radius: 150px; 
  background:#f7f7f7; 
  transform: translate3d(-100%,0,0);}



#container {
  margin-top: -1px;
  border-top: 1px solid #cccccc;
}


/* #contents {
  min-height: 400px;
  padding: 0 0 80px 0;
} */


.board_top_info2 {

  margin-bottom: 40px;
}


.board_top_info2 .info_desc {
  font-size: 30px;
  text-align: right;
  margin-right: 20px;
  top: auto;
}


.board_top_info2 .info_desc:before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: linear-gradient(270deg, #7eb2e4, #C1D3E4);
}



.review_list {
  left: 0;
  content: '';
  display: block;
  position: absolute;
  /* left: calc((100vw - 1200px) / 2 * -1); */
  width: calc((100vw - 1200px) / 2 + 60vw);
  height: 30px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-image: linear-gradient(to left, #7eb2e4, #C1D3E4);
}


.review_list2 {
  right: 0;
  content: '';
  display: block;
  position: absolute;
  /* right: calc((100vw - 1200px) / 2 * -1); */
  width: calc((100vw - 1200px) / 2 + 60vw);
  height: 40px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-image: linear-gradient(to right, #7eb2e4, #C1D3E4);
}

.bar_right {
  animation-name: bar_ani;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bar_ani {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}

.bar_left {
  animation-name: barL_ani;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes barL_ani {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}

