@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

.crew_header {
  width: 350px;
  height: 350px;
  margin: 1rem;
}

.crew_header2 {
  width: 400px;
  height: 400px;
  margin: 1rem;
}

.logo {
  font-family: 'Hahmlet', serif;

  position: absolute;
  top: 70px;
  left: 30px;
  width: 300px;
  height: 100px;
}

.main_header {
  font-family: 'Hahmlet', serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  z-index: 1000;
}

.main_header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.sub_content {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 100px;
  overflow: hidden;
}

.element.style {
  top: 0px;
  visibility: inherit;
  opacity: 1;
}

.a {
  display: inline-block;
  position: relative;
  font-size: 25px;
  line-height: 1;
  transition: color 0.3s ease;
}

.a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #83b2ff, #715af5);
  transition: all 0.3s ease;
}
.a.on,
.a:hover {
  color: #471eff;
}
.a.on:after,
.a:hover:after {
  width: 100%;
}

.h2 .element_style {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.bar-txtBox {
  text-align: center;
}

._fadeIn {
  position: relative;
}

.pageTop {
  /* position: relative; */
  width: 100%;
  height: 380px;
  margin-bottom: 200px;
}

.pageTop .tit {
  position: relative;
  top: 120px;
  left: 15%;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}

.pageTop .tit h2 {
  position: relative;
  font-size: 40px;
  transform: translate3d(5%, 0, 0);
  opacity: 0;
}
.pageTop .tit p {
  position: relative;
  font-size: 16px;
  letter-spacing: 3px;
  transform: translate3d(-5%, 0, 0);
  opacity: 0;
}

.pageTop .leftBar {
  /* position: absolute; */
  top: 80px;
  left: 0;
  width: 70%;
  height: 300px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background: #f7f7f7;
}

.pageTop .rightBar {
  /* position: absolute; */
  top: 0;
  right: 0;
  width: calc(30% + 300px);
  height: 300px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-image: linear-gradient(270deg, #ffffff, #e1e7fb);
  overflow: hidden;
  transform: translate3d(100%, 0, 0);
}

.pageTop .pic {
  position: absolute;
  bottom: 0;
  right: calc(50% - 600px);
  transform: translate3d(1%, 0, 0);
  opacity: 0;
}

.cont {
  opacity: 0;
}

.pageTop .pic {
  position: absolute;
  bottom: 0;
  right: calc(50% - 600px);
  transform: translate3d(1%, 0, 0);
  opacity: 0.73;
}

.btn-open-gnb {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 100px;
  height: 100px;
  color: #fff;
  border-radius: 50%;
  font-family: 'gilroy';
  font-weight: 700;
  text-align: center;
  transform: rotate(30deg);
  transition: 0.3s ease;
}

.btn-open-gnb:hover {
  transform: rotate(0deg);
}

/* goto top */
.main_gotoTop {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 15px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: 700;
  transform: rotate(-270deg);
  font-family: 'gilroy';
}

/* 메인 스크롤 */
.mainScrollBar {
  position: fixed;
  top: 40px;
  right: 70px;
  width: 1px;
  height: calc(100% - (40px + 55px));
  background: #fff;
  z-index: 10;
}
.mainScrollBar .thumb {
  position: absolute;
  top: 0;
  left: -2px;
  width: 5px;
  height: calc(100% / 6);
  background: #fff;
  transform: translate3d(0, 0, 0);
  transition: top 1.3s cubic-bezier(0.33, 1, 0.68, 1);
}

/* 메인 콘텐츠 */
.mainContents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mainContents .page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.mainContents .centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContents .page .inner {
  position: relative;
}
.mainContents .preEle {
  transform: translate3d(0, 0, 0);
  transform: translate(0%, -5%);
  z-index: 1;
}
.mainContents .active_scene {
  transform: translate3d(0, 0, 0);
  z-index: 3;
}

.main-tit-txt {
  margin-bottom: 40px;
  font-size: 48px;
  font-family: 'squareRound';
  line-height: 1.3;
}
.main-link {
  display: inline-block;
  position: relative;
  width: 200px;
  font-size: 16px;
  line-height: 50px;
  background: #fff;
  border-radius: 25px;
  font-weight: 700;
}

._hover_effect {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
._hover_effect .main-link-cover {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  -moz-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
}

/* 메인 하단 고정 */
.main_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
  color: rgb(126, 135, 255);
  z-index: 10;
}
.main_bottom .metabusInfo {
  display: flex;
  align-items: center;
  height: 55px;
  margin-left: 20px;
  border-right: 1px solid #fff;
}
.main_bottom .metabusInfo li {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.main_bottom .metabusInfo li img {
  margin-right: 10px;
}
.main_bottom .metabusInfo li strong {
  display: inline-block;
  margin-left: 15px;
}

.page_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: top left;
  transform: translate3d(0, 0, 0) scaleY(0);
  z-index: 2;
}

/* 메인 콘텐츠 */

.mainContents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mainContents .page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.mainContents .centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContents .page .inner {
  position: relative;
}
.mainContents .preEle {
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.mainContents .active_scene {
  transform: translate3d(0, 0, 0);
  z-index: 3;
}

.main-tit-txt {
  margin-bottom: 40px;
  font-size: 48px;
  font-family: 'squareRound';
  line-height: 1.3;
}
.main-link {
  display: inline-block;
  position: relative;
  width: 200px;
  font-size: 16px;
  line-height: 50px;
  background: #fff;
  border-radius: 25px;
  font-weight: 700;
}
.main-link-cover {
  display: inline-block;
  position: relative;
  width: 200px;
  font-size: 16px;
  line-height: 50px;
  background: #ffffff;
  border-radius: 25px;
  font-weight: 700;
}

._hover_effect {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
._hover_effect .main-link-cover {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  -moz-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
}
/* 메인 상단 */
.section01 {
  background: #a0cbf4;
}
.section01 .innerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section01 .innerCont h2 {
  font-size: 72px;
  line-height: 1;
}
.section01 .innerCont p {
  margin-top: 40px;
  font-size: 36px;
}
.section01 .innerCont .inner {
  width: 100%;
}
.section01 .bgLayer {
  color: rgb(27, 98, 121);
}
.section01 .bgLayer .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(241deg, #ffffff, #ffffff);
  opacity: 0.8;
}
.section01 .maskLayer {
  color: #176690;
  transform: translateZ();
  transition: inherit;
  -webkit-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  -moz-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
}
.section01 .hoverLayer {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  transform: translateY(-50%);
}


/* 메인 두번째 섹션 */
.section02 {
  background-color: #ecf5fd;
}
.section02 .innerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section02 .innerCont p {
  font-size: 36px;
  line-height: 1;
  font-family: 'squareRound';
}
.section02 .innerCont p span {
  display: block;
  margin: 20px 0 20px 100px;
  font-family: 'gilroy';
}
.section02 .innerCont p span strong {
  font-size: 200px;
}
.section02 .innerCont .main-link {
  margin-top: 60px;
}
.section02 .innerCont .scrollGuide {
  margin-top: 50px;
}
.section02 .innerCont .inner {
  padding: 0 50px;
}
.section02 .bgLayer {
  color: #fff;
}
.section02 .bgLayer .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(241deg, #ffffff, #ffffff);
  opacity: 0.8;
}
.section02 .maskLayer {
  color: #aadbfd;
  -webkit-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  -moz-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
}
.section02 .maskLayer .main-link {
  background: #abdbff;
}
.section02 .hoverLayer {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 500px;
  transform: translateY(-50%);
}

/* 메인 입양후기 */
.section03 {
  background: #ecf5fd;
}
.section03 .innerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section03 .main-postscript-list {
  margin-top: 40px;
  overflow: hidden;
}
.section03 .main-postscript-list li {
  float: left;
  width: 250px;
  background: #fff;
}
.section03 .main-postscript-list li + li {
  float: left;
  margin-left: 30px;
}
.section03 .main-postscript-list a {
  display: block;
}
.section03 .main-postscript-list .desc {
  padding: 15px 5px 25px;
}
.section03 .main-postscript-list .desc strong {
  display: block;
  font-size: 14px;
}
.section03 .main-postscript-list .desc p {
  height: 38px;
  margin-top: 10px;
  font-size: 12px;
  color: #a0a0a0;
  overflow: hidden;
}
.section03 .main-postscript-list .imgPath {
  display: none;
}
.section03 .bgLayer {
  color: rgb(27, 98, 121);
}
.section03 .maskLayer {
  background: #f6e9d3;
  -webkit-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  -moz-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
}
.section03 .maskLayer .main-link {
  background: #ffad25;
}
.bg_obj01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.section04 {
  background: #79d5ba;
}

.section04 .innerCont .inner {
  width: 100%;
}

.section04 .scrollGuide {
  display: inline-block;
  transform: rotate(90deg) translate(100%, -50%);
  font-weight: 700;
}

.section04 .maskLayer {
  color: #61caf3;
  transform: translateZ();
  transition: inherit;
}

.section04 .hoverLayer {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  transform: translateY(-50%);
}

/* 메인 인스타그램 */
.section05 {
  font-size: 16px;
  background: #f2dfc0;
}
.section05 .innerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section05 .txt01 {
  font-weight: 700;
}
.section05 .txt01 img {
  margin-right: 10px;
  vertical-align: middle;
}
.section05 .txt02 {
  margin-top: 15px;
}
.section05 .instaList {
  margin-top: 30px;
  overflow: hidden;
}
.section05 .instaList li {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.section05 .instaList li:nth-of-type(4n + 1) {
  clear: left;
  margin-left: 0;
}
.section05 .bgLayer {
  background: #f2dfc0;
}
.section05 .maskLayer {
  background: #f6e9d3;
  -webkit-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  -moz-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
  clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
}
.section05 .maskLayer .main-link {
  background: #ffad25;
}

.cursor {
  display: none;
}

.page_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: top left;
  transform: translate3d(0, 0, 0) scaleY(0);
  z-index: 2;
}

.aniCount {
  display: inline-block;
  min-width: 550px;
}

.menuAnimationLayer {
  position: fixed;
  top: 120px;
  right: 70px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  z-index: 2000;
}

.menuLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  overflow-y: auto;
  visibility: inherit;
  opacity: 0;
  display: none;
  background: #fff no-repeat top left;
  transform: matrix(1, 0, 0, 1, 0, -10);
}

.menuLayer .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.footer {
  position: absolute;
  bottom: 4.44444vh;
  left: 80px;
}

/* menu */
.menuAnimationLayer {
  position: fixed;
  top: 120px;
  right: 70px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  z-index: 2000;
}
.menuLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  overflow-y: hidden;
}

.btn-close-gnb {
  position: absolute;
  top: 130px;
  right: 60px;
  width: 100px;
  height: 100px;
  color: #fff;
  border-radius: 50%;
  font-family: 'gilroy';
  font-weight: 700;
  text-align: center;
  transform: rotate(30deg);
  transition: 0.3s ease;
}

.btn-close-gnb:hover {
  transform: rotate(0deg);
}

.menuLayer .menu {
  position: absolute;
  top: 14.2222vh;
  left: 62.5%;
}
.menuLayer .menu li + li {
  margin-top: 4.4444vh;
}
.menuLayer .menu a {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 1;
  transition: color 0.3s ease;
}

.menuLayer .menu button {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 1;
  transition: color 0.3s ease;
}

.menuLayer .menu a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #f77706, #f5c45a);
  transition: all 0.3s ease;
}
.menuLayer .menu a.on,
.menuLayer .menu a:hover {
  color: #f29700;
}
.menuLayer .menu a.on:after,
.menuLayer .menu a:hover:after {
  width: 100%;
}

.header .inner .contactInfo {
  margin-left: 30px;
}
