@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main_header {
  font-family: 'Hahmlet', serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  z-index: 1000;
}

.main_header .inner p {
  margin-left: 30px;
}

.main_header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-family: 'Hahmlet', serif;
  background-color: #ffffff;
}
